*{
    font-family: sans-serif;
}

.btn-create-target{
	margin-bottom: 10px;
	display: flex;
	justify-content: end;
	width: 1300px;
}

.btn-create-target > button{
	border:none;
	background-color: blue;
	color:#fff;
	border-radius: 5px;
	width: 10%;
	height: 30px;
	cursor: pointer;
}

.container{
    width: 1300px;
    height:fit-content;
    border: 1px solid rgb(91, 90, 90);
    margin: auto;
    padding: 30px;
    overflow: hidden;
		display:flex;
		flex-wrap: wrap;
		flex-direction: row;
}

.target{
    padding: 30px;
    width: 340px;
    height: 260px;
    margin: 15px;
    border: 1px solid rgb(123, 123, 123);
}

.imgs{
    border: 1px solid rgb(114, 114, 201);
    width: 100%;
    height: 80%;
}

.titarget{
    margin-top: 20px;
    width: 70%;
    float: left;
    padding-top: 5px;
}

.detalle{
    margin-top: 20px;
    width: 24%;
    float: left;
    background-color: rgb(74, 81, 199);
    border: 1px solid  rgb(3, 3, 166);
    padding: 5px;
    color: white;
		text-decoration: none;
}